/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #a759d1 0%, #8261ee 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #ffffff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
  position: fixed;
  top: 30px;
  left: 10px;
  right: 10px;
  z-index: 100;
  height: 100px;
}

.header-area .main-nav {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 40px;
  min-height: 80px;
  background: #ffffff;
  position: relative;
}

.header-area .main-nav .nav-gpname {
  font-size: 30px;
  float: left;
  margin-top: 18px;
  margin-left: 50px;
  margin-right: 30px;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 30px;
}

.header-area .main-nav .nav li a {
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e;
  line-height: 40px;
  letter-spacing: 1px;
  text-decoration: none !important;
}

.header-area .main-nav .nav li a.active {
  color: #ff589e;
}

.header-area .main-nav .menu-trigger {
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  right: 40px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3B566E;
}

@media (max-width: 2500px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 1400px) {
  .header-area {
    text-align: center;
  }
  .header-area .menu-trigger {
    display: block;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    margin-top: 80px;
    display: none;
  }
}

@media (min-width: 1401px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
  .menu-trigger {
    display: none;
  }
}

/* 
---------------------------------------------
introduction
--------------------------------------------- 
*/
.introduction-area {
  background-image: url(../images/background01.png);
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
}

.introduction-area .header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  text-align: center;
  width: 100%;
}

.introduction-area .header-text p {
  margin-left: 25px;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 20px;
}

.introduction-area .header-text h1 {
  font-size: 40px;
  letter-spacing: 1.4px;
  color: #ffffff;
  margin-bottom: 30px;
}

.introduction-area .header-text p.about {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.25px;
  margin-bottom: 50px;
}

.introduction-area .header-text ol {
  margin-left: 25px;
  font-size: 20px;
  color: #ffffff;
}

.introduction-area .header-text ul {
  margin-left: 25px;
  font-size: 20px;
  color: #ffffff;
}

.introduction-area .header-text a.header-button {
  font-size: 16px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #ff589e;
  color: #ffffff;
  text-decoration: none;
}

.introduction-area .header-text a.header-button:hover {
  background-color: #8261ee;
}

/* 
---------------------------------------------
Background
--------------------------------------------- 
*/
.background-area {
  padding-top: 40px;
}

.bg-heading .bg-title {
  font-size: 30px;
  color: #1e1e1e;
  margin-bottom: 30px;
}

.bg-text {
  font-size: 17px;
  color: #777;
  margin-bottom: 30px;
  text-align:justify;
}

.hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}

/* 
---------------------------------------------
application
--------------------------------------------- 
*/
.application-area {
  padding-top: 30px;
  margin-top: 30px; 
  background: #e5e0f5;
}

.application-item {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.application-item .icon {
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: auto;
  margin-bottom: 10px;
}

.application-item .application-title {
  font-size: 20px;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.application-item .application-text {
  font-size: 15px;
  color: #777;
  text-align:justify;
}

.zoom {
  transform: scale(1.2);
}

.message {
  font-size: 13px;
  color: rgba(255, 0, 0, 0.995);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}

/* 
---------------------------------------------
features
--------------------------------------------- 
*/
.features-area {
  padding-top: 30px;
  margin-top: 30px; 
}

.feature-item {
  text-align: center;
  margin-bottom: 30px;
}

.feature-title {
  font-size: 27px;
  font-weight: bold;
  color: #1e1e1e;
}

.feature-description {
  font-size: 18px;
  color: #777;
  text-align:justify;
}

/* 
---------------------------------------------
discovery
--------------------------------------------- 
*/
.discovery-area {
  padding-top: 30px;
  margin-top: 30px; 
  background: #f4f2f9;
}

.discovery-area h2{
  color: #1e1e1e;
  margin-bottom: 15px;
  text-align: center;
}

.discovery-area .discovery-text{
  font-size: 15px;
  color: #232222dd;
  margin-bottom: 15px;
  text-align: center;
}

.discovery-post {
  text-align: center;
  margin-bottom: 30px;
}

.discovery-post .img {
  overflow: hidden;
  border-radius: 20px;
  height: 200px;
}

.discovery-post h3 a {
  font-size: 18px;
  color: #1e1e1e;
  text-decoration: none ;
}

.discovery-post h3 a:hover {
  color: #ff589e;
}

.discovery-post p {
  font-size: 13px;
  color: #777;
  margin-bottom: 15px;
  text-align:justify;
}

.discovery-post .button {
  margin-top: 10px;
  display: inline-block;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.discovery-post .button:hover {
  background-color: #ff589e;
}

/* 
---------------------------------------------
discovery html
--------------------------------------------- 
*/
.discovery-html-area {
  padding-top: 150px;
}

.discovery-html-area h2{
  color: #1e1e1e;
  margin-bottom: 15px;
  text-align: center;
}

.discovery-html-area .discovery-html-text{
  font-size: 15px;
  color: #232222dd;
  margin-bottom: 15px;
  text-align: center;
}

/* 
---------------------------------------------
References
--------------------------------------------- 
*/
.references-area {
  padding-top: 150px;
}

.references-area h2{
  color: #1e1e1e;
  margin-bottom: 15px;
  text-align: center;
}

.references-area .references-text{
  font-size: 15px;
  color: #232222dd;
  margin-bottom: 15px;
  text-align: center;
  list-style-position: inside;
}

.references-area .references-text a{
  font-style: italic;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}

footer .gpname {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}
